<div>
  <section id="top_content container-fluid">
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <div>
                <h1 class="header_green"><b>GTI Contecta-TE</b></h1>
                <span class="header_black">
                  GRUPO TECNOLOGÍA
                </span >
                <span class="header_black">
                  CONECTA-TE
                </span >
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right logos">
            <li><a ><img   src="assets/images/logo_conectate.png" alt="uniandes" /></a></li>
            <li><a ><img   src="assets/images/Logo.png" alt="conecta-te" style="margin-top: 10px;"/></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="middle_content" class="container-fluid">
    <div class="row" style="height:100%">
      <div class="col-xs-12 col-md-6 quienes-somos-container" style="margin-bottom:30px">
        <div class="qs-text-container">
          <div class="qs-tittle">¿Quiénes Somos?</div>
          <div class="qs-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel feugiat enim. Ut nec ligula eu tortor ultrices egestas.
            Nulla facilisi. Etiam massa quam,  posuere a mauris eu, convallis rhoncus neque. Morbi dictum, nisl ut placerat sollicitudin,
            dolor purus ornare orci, vel pharetra tortor diam vitae nisi. Vivamus  ut dapibus risus. Curabitur sit amet molestie lorem. Nullam eget lectus
            vel ex ullamcorper mattis ut non est. Vivamus tempus eget risus ac dignissim.  Aliquam mollis ornare nisl quis imperdiet. Donec sed augue ac
            tortor commodo laoreet. Maecenas varius purus sit amet purus varius, eu bibendum justo dictum.
          </div>
          <div class="col-xs-12 col-md-12 quienes-somos-box-container">
            <div class="row qs-box-absolute">
              <div class="qs-box-container col-xs-12 col-md-3">
                <div class="qs-box-tittle">Uniandes</div>
                <div class="qs-box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel feugiat enim. Ut nec ligula eu tortor ultrices egestas.
                  Nulla facilisi. Etiam massa quam,  posuere a mauris eu, convallis rhoncus neque. Morbi dictum, nisl ut placerat sollicitudin,
                  dolor purus ornare orci, vel pharetra tortor diam vitae nisi.
                </div>
              </div>
              <div class="col-xs-12 col-md-1 qs-box-md1"></div>
              <div class="qs-box-container col-xs-12 col-md-3">
                <div class="qs-box-tittle">Conecta-TE</div>
                <div class="qs-box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel feugiat enim. Ut nec ligula eu tortor ultrices egestas.
                  Nulla facilisi. Etiam massa quam,  posuere a mauris eu, convallis rhoncus neque. Morbi dictum, nisl ut placerat sollicitudin,
                  dolor purus ornare orci, vel pharetra tortor diam vitae nisi.
                </div>
              </div>
              <div class="col-xs-12 col-md-1 qs-box-md1"></div>
              <div class="qs-box-container col-xs-12 col-md-3">
                <div class="qs-box-tittle">SICUA & Moodle</div>
                <div class="qs-box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel feugiat enim. Ut nec ligula eu tortor ultrices egestas.
                  Nulla facilisi. Etiam massa quam,  posuere a mauris eu, convallis rhoncus neque. Morbi dictum, nisl ut placerat sollicitudin,
                  dolor purus ornare orci, vel pharetra tortor diam vitae nisi.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-xs-none col-md-6 col-lg-6 col-arbol ">
        <div style="height:100%;width:100%">
          <img src="assets/images/arbol.png" />
        </div>
      </div>
    </div>
  </section>
</div>
