



#top_content{
  height: 25vh;
  max-height: 150px;
  padding-top: 15px;
}

/*Estilos del logo de GTi ConectaTE*/
.header_black{
  display:block;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 600;
}
.header_green{
  color: #2B8178;
  margin-bottom: 0;
  font-size: 4em;
}

/*Estilos de los logos de ConectaTE y universidad de los andes*/
.logos li img {
  display:inline-block;
  width:  100%;
}
.navbar-nav.logos {
  flex-direction: row;
}

.nav.logos > li {
  padding: 0px 15px;
  height: 160PX;
  width: 340PX;
  cursor: pointer;
}

/* Estilos del arbol */
.col-arbol  div img {
  max-height:100%;
  width:auto;
  max-width:100%;
  position: absolute;
  bottom: 10px;
  left: 25px;
}

#middle_content{
  height:calc(100vh - 210px);
}

.welcome_box{
  height: 100%;
  width: 100%;
  max-height: 570px;
  max-width: 840px;
  padding: 25px;
  background-color: #2B8178;
  color: #EEFBFE;
  border-radius: 8px;
}

#main{
  height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url("/assets/images/background.jpg");
  display: table;
  top: 0;
  background-size: cover;
  /*
  background-repeat: no-repeat;
  height: calc(100vh - 60px);*/
}

.chatbot-container{
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ========================================================================================================================
   ====================================   ESTILOS PARA RESOLUCIONES MENORES DE 1440PX
 */
@media only screen and (max-width: 1440px) {
  /*Estilos del logo de GTi ConectaTE*/
  .header_black{
    display:block;
    font-size: 1em;
    line-height: 1.1;
    font-weight: 600;
  }

  .header_green{
    color: #2B8178;
    margin-bottom: 0;
    font-size: 3em;
  }

  /*Estilos de los logos de ConectaTE y universidad de los andes*/
  .logos li img {
    display:inline-block;
    width:  100%;
  }
  .navbar-nav.logos {
    flex-direction: row;
  }

  .nav.logos > li {
    padding: 0px 15px;
    height: 100PX;
    width: 240PX;
    cursor: pointer;
  }

  /* Corrector altura divo conteneodr */
  #middle_content{
    height:calc(100vh - 175px);
  }

  .col-arbol  div img {
    max-height:100%;
    width:auto;
    max-width:90%;
    position: absolute;
    bottom: -1px;
    left: 25px;
  }

  .welcome_box{
    height: 428px;
    width: 610px;
    padding: 25px;
    background-color: #2B8178;
    color: #EEFBFE;
    border-radius: 8px;
  }
}
/* ========================================================================================================================
   ====================================   ESTILOS PARA RESOLUCIONES MENORES DE 1440PX
 */
@media only screen and (max-width: 1024px) {
  .welcome_box{
    height: 320px;
    width: 440px;
    padding: 15px;
    background-color: #2B8178;
    color: #EEFBFE;
    border-radius: 8px;
  }
  .chatbot-ask-container{
    font-size: 0.80em;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .col-arbol {
    display: none;
  }
}
