<div>
  <section id="top_content container-fluid">
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <div>
                <h1 class="header_green"><b>GTI Conecta-TE</b></h1>
                <span class="header_black">
                  GRUPO TECNOLOGÍA
                </span >
                <span class="header_black">
                  CONECTA-TE
                </span >
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right logos">
            <li><a ><img   src="assets/images/logo_conectate.png" alt="uniandes" /></a></li>
            <li><a ><img   src="assets/images/Logo.png" alt="conecta-te" style="margin-top: 10px;"/></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="middle_content" class="container-fluid">
    <div class="row" style="height:100%">
      <div class="d-xs-none col-md-6 col-lg-6 col-arbol ">
        <div style="height:100%;width:100%">
          <img src="assets/images/arbol.png" />
        </div>
      </div>
      <div class="col-xs-12 col-md-6 chatbot-container" style="margin-bottom:30px">
        <!-- <div class="welcome_box">
          <h3>Bienvenido</h3>
          <p style="font-size: smaller;">
            Conoce mas sobre nuestro catálogo, te invitamos  a usar nuestra herramienta de busquedas para facilitarte el acceso a nuestra información. Si necesitas información más específica, puedes usar nuestro chatbot haciendo click en [aquí]
          </p>
          <div class="row">
            <div class="col-9 offset-3">
              <a (click)="toggleChat()"><fa name="comments" size="4x" style="position: relative; float: left; padding-top: 15px;" ></fa></a>
              <a style="position: relative; float: right; padding-top: 25px;"><a (click)="abrirChat()"><span> ¿Necesitas ayuda con SICUA o MOODLE?<br />Preguntale a Conecta-TE</span></a>
            </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
