
<div id="main">
<router-outlet></router-outlet>
<div class="float_chatbot">
  <app-chatbot></app-chatbot>
</div>
</div>
<section id="nav_footer">
  <div class="bottom-nav">
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a routerLink="/index">Inicio</a>
            </li>
            <li>
              <a routerLink="/quienes_somos">¿Quienes somos?</a>
            </li>
            <li>
              <a routerLink="/equipo_gti">Equipo GTi</a>
            </li>
            <!-- <li>
              <a routerLink="/catalogo">Catálogo</a>
            </li>
            <li>
              <a routerLink="/contectenos">Contáctenos</a>
            </li> -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/login"><fa name="sign-in" size="2x" ></fa><span>Login</span></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>
