<div *ngIf="estaAbierto; then abietoBlock else cerradoBlock"></div>
<ng-template #abietoBlock>
  <div id="chatbot" class="row" >
    <div class="col-12">
      <div class="header">
        <div style="float:left">
          <img class="openBot" src="assets/images/ro_bot.png" />
          <span class="openHeader">Chatbot grupo de tecnología Contecta-TE</span>
        </div>
        <div style="float:right">
          <a (click)="cerrarChat()">X</a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="body">
        <div class="conversacion" id="chat_body" #conversation>
          <div *ngFor="let mensaje of mensajes" [ngClass]="(mensaje.de=='chatbot')?'msj_chatbot':'msj_usuario'" >
            <div class="mensaje" >{{mensaje.mensaje}}
              <div *ngFor="let opcion of mensaje.opciones">
                <li>
                  <a (click)="set(opcion)">{{opcion}}</a>
                </li>
              </div>
              <div *ngIf="mensaje?.ratingYN">
                <!--  -->
              </div>

              <div *ngIf="mensaje?.rating15">
                <p-rating [(ngModel)]="val"></p-rating>
              </div>
            </div>
          </div>
        </div>
        <div class="input_box">
          <input id="user-chatbot-input" [(ngModel)]="input" (keyup)="onKey($event)" type="text" />
        </div>
        <div class="cta_box">
          <button id="chatbot-user-button" (click)="enviar()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #cerradoBlock>
  <div id="closedChat">
    <a (click)="abrirChat()"> <img class="openBot" src="assets/images/ro_bot.png" /> </a>
  </div>
</ng-template>
