<div *ngIf="estaAbierto; then abietoBlock else cerradoBlock"></div>
<ng-template #abietoBlock>
  <div id="chatbot" class="row" >
    <div class="col-12">
      <div class="header">
        <div style="float:left">
          Chatbot
        </div>
        <div style="float:right">
          <a (click)="cerrarChat()">X</a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="body">
        <div class="input_box">
          <input type="text" />
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #cerradoBlock>
  <div id="closedChat">
    <a (click)="abrirChat()"> <img class="openBot" src="assets/images/ro_bot.png" /> </a>
  </div>
</ng-template>
