#chatbot{
  background-color:#EEFBFE;
  width: 300px;
  height: 400px;
}

.header{
  height: 38px;
  /* border-bottom: 1px solid #2B8178; */
  padding: 10px 0;
}

.body{
  height: 350px;
  background-color: white;
  border: 1px solid #2B8178;
  margin-bottom: 20px;
}

.input_box{
  width: 100%;
  position: absolute;
  bottom: 21px;
}

.input_box > input{
  width: 268px;
  border: none;
  height: 38px;
  border-top: 1px solid;
}


div#closedChat {
  position: fixed;
  right: 60px;
  bottom: 80px;
  background:0;
}

.openBot{
  height: 58px;
  width: 58px;
}
