.person-tittle {
  float: left;
}
.person-badge {
  float: right;
}
/* General styles */
.personal-clear {
  margin: 15px 0;
  clear: both;
}
.badge-light {
  color: #ffffff;
  background-color: #2B8178;
}
.close-window-admin {
  position: absolute;
  right: 20px;
  top: 20px;
}
.close-window-admin button:nth-child(1) {
  color: #343a40;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.125);
}
.close-window-admin button:nth-child(2) {
  color: tomato;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.125);
}
.pie-container {
  margin-bottom: 15px;
}
.input-delaytime-label {
  background-color: #e9ecef;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid #d3d4d4;
  border-left: 1px solid #d3d4d4;
  border-top: 1px solid #d3d4d4;
  padding: 5px;
}
.delaytime-format {
  font-size: 14px;
  text-align: right;
  margin-top: -15px;
  margin-bottom: 15px;
  color: #d98686;
}
