<div>

  <div class="row">
    <div class="col-md-12" *ngIf="windowClose">
      <div class="card">
        <div class="card-body">
          <div class="close-window-admin">
            <button (click)="hideWindow()" type="button" class="btn btn-light"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
            <button (click)="closeWindow()" type="button" class="btn btn-light"><i class="fa fa-window-close" aria-hidden="true"></i></button>
          </div>
          <h3>Preguntas de evaluación del serivicio</h3>
          <hr>
          <div class="row" *ngIf="selectWindow">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5>¿El chatbot le fué fácil de usar?</h5>
                  <div style="display: block">
                    <canvas *ngIf="chargedData" baseChart
                      [data]="doughnutChartData1"
                      [labels]="doughnutChartLabels1"
                      [chartType]="doughnutChartType1">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5>¿Le fué útil las respuestas entregadas?</h5>
                  <div style="display: block">
                    <canvas *ngIf="chargedData" baseChart
                            [data]="doughnutChartData2"
                            [labels]="doughnutChartLabels2"
                            [chartType]="doughnutChartType2"
                            (chartHover)="chartHovered2($event)"
                            (chartClick)="chartClicked2($event)"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="col-md-4 personal-clear">
      <div class="card box-shadow">
        <div class="card-header">
          <div class="person-tittle">Profesores</div>
          <div class="person-badge">
            <span class="badge badge-light">4</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 personal-clear">
      <div class="card">
        <div class="card-header">
          <div class="person-tittle">Monitores</div>
          <div class="person-badge">
            <span class="badge badge-light">12</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 personal-clear">
      <div class="card">
        <div class="card-header">
          Artículos consultados
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-left">
              <span>Nombre artículo 1</span>
              <span class="badge badge-light">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-leftr">
              <span>Nombre artículo 6</span>
              <span class="badge badge-light">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-left">
              <span>Nombre artículo 12</span>
              <span class="badge badge-light">1</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 personal-clear">
      <div class="card">
        <div class="card-header">
          Últimas conversaciones
        </div>

        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Coversación 1</span>
              <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Coversación 2</span>
              <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Coversación 3</span>
              <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    -->
  </div>

</div>
