<div>
  <div class="admin-container">

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand gti-tittle" href="/admin">
        GTI Conecta-TE
      </a>
      <div class="user-container">
        <div class="welcome-text">Bienvenido</div>
        <div class="user-img"><img src="../../assets/images/personajes/5.fw.png"/></div>
        <div class="user-name" >Alberto Patricio De Los Rios</div>
      </div>
    </nav>

    <section class="left-box">
      <div class="left-side-menu">
        <div class="menu-tittle-container">
          <div class="menu-icon"><img src="../../assets/images/personajes/5.fw.png"/></div>
          <div class="menu-title"><i class="fa fa-bars" aria-hidden="true"></i> Menú Principal</div>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <div class="menu-i-float">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span>&nbsp; Dashboard</span>
            </div>
            <div class="menu-text-float">
              <span class="badge badge-pill"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
            </div>
          </li>
          <li class="list-group-item list-group-item-action flex-column align-items-star">
            <div class="menu-i-float">
              <i class="fa fa-list" aria-hidden="true"></i>
              <span>&nbsp; Artículos</span>
            </div>
            <div class="menu-text-float">
              <span class="badge  badge-pill"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
            </div>
          </li>
          <li class="list-group-item list-group-item-action flex-column align-items-star">
            <div class="menu-i-float">
              <i class="fa fa-comment" aria-hidden="true"></i>
              <span>&nbsp; Chatbot</span>
            </div>
            <div class="menu-text-float">
              <span class="badge  badge-pill"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
            </div>
          </li>
          <li class="list-group-item list-group-item-action flex-column align-items-star">
            <div class="menu-i-float">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>&nbsp; Profile</span>
            </div>
            <div class="menu-text-float">
              <span class="badge  badge-pill"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="main-content">
      <div class="breadcrumbs">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <span class="breadcrumbs-tittle"> Dashboard</span>
      </div>
      <hr class="hr-wstyle">
      <div class="container-dashboard">
        <div class="row">
          <div class="col-md-4 personal-clear">
            <div class="card box-shadow">
              <div class="card-header">
                <div class="person-tittle">Profesores</div>
                <div class="person-badge">
                  <span class="badge badge-light">4</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 personal-clear">
            <div class="card">
              <div class="card-header">
                <div class="person-tittle">Monitores</div>
                <div class="person-badge">
                  <span class="badge badge-light">12</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 personal-clear">
            <div class="card">
              <div class="card-header">
                Artículos consultados
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-left">
                    <span>Nombre artículo 1</span>
                    <span class="badge badge-light">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-leftr">
                    <span>Nombre artículo 6</span>
                    <span class="badge badge-light">2</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-left">
                    <span>Nombre artículo 12</span>
                    <span class="badge badge-light">1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 personal-clear">
            <div class="card">
              <div class="card-header">
                Últimas conversaciones
              </div>

              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Coversación 1</span>
                    <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Coversación 2</span>
                    <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Coversación 3</span>
                    <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
