.person-tittle {
  float: left;
}
.person-badge {
  float: right;
}
/* General styles */
.personal-clear {
  margin: 15px 0;
  clear: both;
}
.badge-light {
  color: #ffffff;
  background-color: #2B8178;
}
