



#top_content{
  height: 25vh;
      max-height: 150px;
      padding-top: 15px;
}

.header_black{
  display:block;
  line-height: 1.1;
    font-weight: 600;
}
.header_green{
  color: #2B8178;
      margin-bottom: 0;
}

.logos > img {
  display:inline-block;
}

.navbar-nav.logos {
    flex-direction: row;
}

.nav.logos > li {
      padding: 0px 10px;
}




#middle_content{
  height:calc(100vh - 210px);
}

.welcome_box{
  height: 100%;
  width: 100%;
  padding: 18px 10px;
  background-color: #2B8178;
  color: #EEFBFE;
}

#main{
  background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
}

@media only screen and (max-width: 767px) {
    .col-arbol {
        display: none;
    }
}
