<section id="top_content" >
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <div>
              <h2 class="header_green"><b>GTI Contecta-TE</b></h2>
              <span class="header_black">
                GRUPO TECNOLOGÍA
              </span >
              <span class="header_black">
                CONECTA-TE
              </span >
            </div>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right logos">
          <li><a ><img   src="assets/images/conectate_logo.png" height="50px"  alt="conecta-te"/></a></li>
          <li><a ><img   src="assets/images/uniandes_logo.png" height="50px" alt="uniandes" /></a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section id="middle_content" class="container">
  <div class="row" style="height:100%">
    <div class="col-6">
      arbol
    </div>
    <div class="col-6">
      <div class="welcome_box">
        <h3>Bienvenido</h3>
        <p style="font-size: smaller;">
          Conoce mas sobre nuestro catálogo, te invitamos  a usar nuestra herramienta de busquedas para facilitarte el acceso a nuestra información. Si necesitas información más específica, puedes usar nuestro chatbot haciendo click en [aquí]
        </p>
        <div class="row">
          <div class="col-12" style="margin-top: 20px;">
            <input type="text" style="width:100%"/>
          </div>
          <div class="col-12" style="text-align: right; margin: 20px 0;">
            <input type="text" style="width:40%"/>  <input type="text" style="width:40%"/>
          </div>
          <div class="col-9 offset-3">
            <fa name="comments" size="4x" style="position: relative; float: left; padding-top: 15px;" ></fa>
            <a style="position: relative; float: right; padding-top: 25px;"><span> ¿Necesitas ayuda con SICUA o MOODLE?<br />Preguntale a Conecta-TE</span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="nav_footer">
  <div class="bottom-nav">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li>
              Inicio
            </li>
            <li>
              ¿Quienes somos?
            </li>
            <li>
              Equipo GTi
            </li>
            <li>
              Catálogo
            </li>
            <li>
              Contáctenos
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a ><fa name="sign-in" size="2x" ></fa>Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>
