.question-btn-submit {
  text-align: right;
}
/* DROPDOWN STYLES */
.dropbtn {
  background-color: #ececec;
  color: #000000;
  padding: 4px 15px;
  font-size: 14px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: #ddd}


.dropdown:hover .dropbtn {
  background-color: #f7f7f7;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.event-request-alert {
  margin-top: 15px;
}

#btn-question-send {
  cursor: pointer;
}
