/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  font-family: 'carnas-lig';
 }


@font-face {
    font-family: 'carnas-lig';
    src: url('assets/fonts/carnas_light/carnas-lig-webfont.woff2') format('woff2'),
         url('assets/fonts/carnas_light/carnas-lig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
